/************************** COLOURS **************************/

$color-one: #C3CED4;
$color-one-darker:#556b76;
$color-two:#0E1F23; 
$color-three:#8D8C40 ;
$color-four: #3E3E27;
$color-five: rgb(164, 133, 116);
$color-six:#574439;
$color-seven: #050403;
$color-eight: #000;

$color-text: #cfcfcf;

$color-bg-one:#bbbbbb;
$color-bg-two:#dadada;

/************************** SHADOWS **************************/ 
$shadow-nine: 0 1rem 2rem rgba(0,0,0,.9);
$shadow-eight: 0 1rem 2rem rgba(0,0,0,.8);
$shadow-seven: 0 1rem 2rem rgba(0,0,0,.7);
$shadow-six: 0 1rem 2rem rgba(0,0,0,.6);
$shadow-five: 0 1rem 2rem rgba(0,0,0,.5);
$shadow-four: 0 1rem 2rem rgba(0,0,0,.4);
$shadow-three: 0 1rem 2rem rgba(0,0,0,.3);
$shadow-two: 0 1rem 2rem rgba(0,0,0,.2);
$shadow-one: 0 1rem 2rem rgba(0,0,0,.1);


   
/************************** RESPONSIVE BREAKPOINTS **************************/ 
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;




