.btn {
    
    border: none;
    font-size: 2rem;
    @include background;
    cursor: pointer;
    z-index: 1;
    transition: all .5s;
    @media only screen and (max-width: $bp-large) {
        font-size: 1.5rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 1.3rem;
    }
    
    
    &:hover{
        transform: scale(1.1);
        transition: all .5s;
    }

  
    &:focus{
        outline: none;  
        animation: pulsate 1s infinite;
    }
}